{% extends "layout.html" %}

{% block content %}

    <h1>About This App</h1>

    <p>This app is dedicated to help our user be aware of COVID related info around them. Once you input the state abbreviation, it will return information including: state population, total cases and deaths, new cases and deaths, case density, vaccination info, ICU info and their ranking in the country.</p>
    <p>For a better user experience, please check out abrreviation page and data definition page.</p>
    <p>Thanks to Covidactnow.org for its amazing data.</p>
    <p><a href="https://covidactnow.org/?s=21621088">Visit CovidActNow</a></p>

{% endblock %}


