{% extends "layout.html" %}

{% block content %}


    <h1>Definitions</h1>
    <a href="https://apidocs.covidactnow.org/data-definitions">Original Data</a>
    <h3>CASE & DEATH</h3>
    <p>Case Density: The number of cases per 100k population calculated using a 7-day rolling average.<br><br>Cases: Cumulative confirmed or suspected cases.<br><br> Deaths: Cumulative deaths that are suspected or confirmed to have been caused by COVID-19.<br><br> New Cases: New confirmed or suspected cases.<br><br>New Deaths: New confirmed or suspected deaths caused by COVID-19.</p>

    <h3>VACCINATION</h3>
    <p>Vaccine Distributed: Number of vaccine doses distributed.<br><br>Vaccine Initiated Ratio: Ratio of population that has initiated vaccination.<br><br>Vaccine Completed Ratio: Ratio of population that has completed vaccination.</p>

    <h3>ICU INFORMATION</h3>
    <p>ICU Beds: Total ICU beds in a state. <br><br> ICU Capacity Ratio: Ratio of staffed intensive care unit (ICU) beds that are currently in use. <br><br> CurrentIcuCovid: Number of COVID patients currently in ICU. <br><br> CurrentIcuNonCovid: Number of non-COVID patients currently in ICU.  </p>



    

{% endblock %}